%h2
  Cloud
%br
%h5
  All the clouds knew was that they loved him and wanted to be near him, to cherish him and to water him. 
  %div{style: "text-align: right"}
    %h6
      So Long, and Thanks for All the Fish 
%br
%p
  The Cloud(blame Amazon) has turned the standard application ops worlds upside down.  I decided to evolve.  I took an architect role on the Cloud Platform team within 
  %a{:href=>"http://www.here.com"}="HERE" 
  to re-build it after some key engineers left.  This team supports over 1,000 engineers across 100 teams to educate, streamline costs, review product architectures, provide command enablers and mitigate security risks by auditing usage.  It is a very horizontal role that touches and influences a lot different teams and deliverables.
%h3
  Do you believe in "the Cloud"
%p
  Once upon a time, I use to host an e-mail server for my personal e-mail.  I wasn't very serious about it because I had better things to do with my time.  I was happy to get my e-mail and most of the time it worked.  Then, something would break due to my neglect since I don't really want to run a mail server.  Thankfully, Google, Microsoft, and Yahoo all run BYOD(Bring Your Own Domain) e-mail services today so I can do other things that make me happy or money and let them deal with running an e-mail server.
  %br
  %br
  I see no difference with the introduction of cloud services(one could argue that the mail servers above are actually a cloud service...).  We can do a lot of things, but is it really in our interest to do them or is it better to let a company focus on those low-level efforts/distractions and for us to focus on our main objectives which is to deliver/build something.
  %br
  %br
  I don't like distractions so I believe in the Cloud.

