%h2
  Cloud
%br
%h5
  All the clouds knew was that they loved him and wanted to be near him, to cherish him and to water him. 
  %div{style: "text-align: right"}
    %h6
      So Long, and Thanks for All the Fish 
%br
%p
  The Cloud(blame Amazon) has really turned the standard application ops worlds upside down.  I decided to evolve.  I moved to the Cloud Platform team within HERE and helped re-build it after some key engineers left.  This was a 100% focused effort to streamline costs, and review R&D Team architectures.  We focused on AWS as our primary platform.

