%h2
  Design
%p
  I am a huge believer in requirements and documented, peer-reviewable design. An architect can never have all the answers, but they can communicate in such a way to encourage constructive discussion.  Lack of communication results in waste.  Developers doing the wrong thing, Architects solving the wrong problems and the Business delivering the wrong product.

%h3
  But... Agile!
%p
  I evangelize Agile/Scrum/Kanban, but I also realize that it is a double-edge sword that can distract teams and lull them into a cycle of producing nothing(we will just drop that from this sprint/I'm still working on X).  The reality is that most teams are not very good at being agile.  Backlogs are not prioritized, Epics are ambiguous and Sprints are left un-attended until the final moments of the sprint.  This common type of sceneario renders Agile useless since it is just a facade for a non-working team that still can't deliver anything useful.  For me, the most important thing about being agile is the open-communications and this includes when things aren't working.  The fact that the problems I described are communication problems simply means the team isn't as agile as they thought.

%h3
  OmniGraffle
%p
  In a perfect world, every person would use 
  %a{:href=>"http://www.omnigroup.com/omnigraffle"}="OmniGraffle"
  to communicate an idea.  It is, in my opinion, one of the better design tools in the world.  I typically use it for UI Prototypes/Flows, UML Flow Diagrams, and Architecture Overviews.

%img{:src=>uri("/resume_mockup.png")}  

%p
  I also have published a few 
  %a{:href=>"https://www.graffletopia.com/users/4853"}="stencils"
  as well!

%h3
  Sequence, Activity and State Diagrams
%p
  UML is a great tool.  I try not to dive into the more complicated aspects of the UML Specification as you end up losing your audience. 
  %br
  
  %img{:src=>uri("sequence.png")}

