%h2
  Design
%p
  I am a huge believer in requirements and documented, peer-reviewable design. An architect can never have all the answers, but they can communicate in such a way to encourage constructive discussion.  Lack of communication results in waste.  Developers doing the wrong thing, Architects solving the wrong problems and the Business delivering the wrong product.   

%h3
  OmniGraffle
%p
  In a perfect world, every person would use 
  %a{:href=>"http://www.omnigroup.com/omnigraffle"}="OmniGraffle"
  to communicate an idea.  It is, in my opinion, one of the better design tools in the world.

%img{:src=>uri("/resume_mockup.png")}  

%p
  I also have published 
  %a{:href=>"https://www.graffletopia.com/users/4853"}="stencils"
  as well!

%h3
  Sequence, Activity and State Diagrams
%p
  UML is a great tool.  I try not to dive into the more complicated aspects of the UML Specification as you may end up losing your audience. 
  %br
  
  %img{:src=>uri("sequence.png")}

%h3
  Agile
%p
  I evangelize the Agile/Scrum/Kanban Development Methodology.  I have helped teams to "be agile" in the past and enjoy speaking about the theory behind it all because it makes a lot of sense.  The daily standups, planning meetings and demos keeps people engaged and talking.  Doing incremental work in short periods yields tons of statistics that teams and stakeholders can utilize to mitigate and better forecast deliverables.  Data good!

