%h2
  Fun Stuff 
%p
  At least I think these are fun. 

%h3
  %a{:herf=>"https://github.com/ansoni/termination"}="Terminal Animation!"

%p
  I created a bunch of easter eggs for my Golang Command lines.  I think these are pretty fun.
  %br
  %a{:href=>"https://github.com/ansoni/gosl"}
    %img{:src=>uri("gosl.gif")}
  %a{:href=>"https://github.com/ansoni/goquarium"}
    %img{:src=>uri("goquarium.gif")}

%h3
  %a{:href=>"http://en.wikipedia.org/wiki/For_Want_of_a_Nail"}="For Want of a Bit"
%p
  For want of a bit the packet was lost.
  %br
  For want of a packet the session was lost.
  %br
  For want of a session the customer was lost.
  %br
  For want of a customer the product was lost.
  %br
  For want of a product the team was lost.
  %br
  For want of a team the company was lost.
  %br
  And all for the want of a packet bit. 
%div{style: "text-align: left"}
  %h6
    My version of For Want of a Nail
%br

%h3
  %a{:href=>"https://github.com/ansoni/ping-and-tell"}="Ping And Tell"

%p
  Simple utility that pings an IP address and then tells you when it is successful.  Inspired from a late night deployment.

%h3
  Breadmaking

%p
  I use live yeast to make Sourdough bread.  Basically turning this:
  %br
  %br
  %img{:src=>uri("yeast.png")}
  %br
  %br
  with flour, water and salt into this:
  %br
  %br
  %img{:src=>uri("bread.png")}

    
