%h2
  Home 
%p
  Welcome to Anthony Johnson's technical portfolio.  Simply a nice, quaint place for people to understand what I do.  Please select from the menu to know more.

%p
  This website was built using 
  %a{:href=>"https://www.ruby-lang.org"}
    Ruby,
  %a{:href=>"http://Sinatrarb.com"}
    Sinatra,
  %a{:href=>"http://haml.info"}
    HAML,
  and
  %a{:href=>"http://getbootstrap.com"}
    Twitter Bootstrap.
  You can view the actual 
  %a{:href=>"https://github.com/ansoni/resume"}
    source 
  on github if you so desire.  Funny thing about older sites... I literally use none of these technologies today.  Today I'm an AWS, ReactJS, and Golang driven engineer:-)





