%h2
  Leadership 

%img{:width=>"700", :src=>uri("/dilbert.png")}

%h3="Partnership"

%p
  Whether you are the manager or the individual contributer, I believe that a partnership built on trust is vital to proper execution.  People need to konw that you have their back.  Once you have a circle of trust, you truly can scale an organization. 
  %br
  %br

%h3="Full Stack"

%p
  I believe in full-stack teams.  A full-stack team is a team that can deliver from start to finish including Design, QA, and Deployment.  I don't believe that anyone is too good to do any job (often times they just use that extra time for YouTube).  I believe Full Stack teams need to be as diverse as possible to elict as many ideas as possible.
  %br
  %br

%h3="Working Backwards/Press Releases/Narratives"

%p
  I evangelize the "Working Backwards" approach to software development that Amazon 
  %a{:url=>"https://www.anecdote.com/2018/05/amazons-six-page-narrative-structure/"}="follows."
  The idea is pretty simple.  Focus on the customer's needs and design your product around that.  If you design with that as your focus then you will be successful.  Our main case study has done pretty well.  As far as the process, I can implement, train, and develop procedures for these to execute and scale to huge organizations.


