%h2
  Monitoring
%p
  I have worked on and off with monitoring for my entire career.  I started out in a support organization, learned Python, and then proceeded to writing the support teams utility tools that are still in use today(written in 2001).  From there, I have often found myself evangelizing good monitoring when doing software devlopment or when wearing a SysAdmin hat.

%h3
  SNNP
%p
  I often joke that I am the only person in the world that likes SNMP.  The protocol itself is actually very elegant.  MIBs define the data contract in much the same way that a WSDL defines a SOAP webservice.  The protocol is lightweight and easy on devices.  Namespace hiearchy makes it easy to seperate domains.


