%h2
  Tech
%p
I am an odd bird in that I have worn both an Operations hat and Development hat throughout my career.  Most of the reasons for this is because I go where the challenges are.  I believe this to be one of my assets since it allows me to understand the other's perspective when wearning the opposite hat.  
%br 
%br 
%img{:src=>uri("/venn.png")}

%h3="Ruby"
%p
  %span{:style=>"font-style: italic;"}
    “One's first love is always perfect until one meets one's second love.”
  %br
  %br
  Perl was that first love for me.  I spent hours learning how to use $_ and diamond operators and all sorts of fun obfuscated things.  Then I programmed in Java, but I can't say that I ever enjoyed it.  Python, I tried to make it work;_;  Then I found Ruby.  A fantasically documented language that doesn't waste your time.  For me, it takes the best of all the languages, innovated via Procs and Lambda expressions and then cut-down on language verbosity that gets in the way.

%h3="Monitoring/Reporting"
%p
  I believe in data.  With data you can make better decisions. Perhaps this is the reason that I love runtime statistics and buiding reports.  Ultimately, I like to know what caused a problem.  My latest love is Mike Bostock's
  %a{:href=>"http://d3js.org"}="d3" 

%h3="Automation"
%p
  Who doesn't love automation.  I am a firm beliver in never doing anything twice.  The "Internet of Things" has me really exicted as well.  Sites like
  %a{:href=>"www.ifttt.com"}
    "If This Then That"
  have so much potential to automate things in a normalize and elegant way.



